<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="rtcab-ordermanagement"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.roadtocubaandbeyond.ordermanagement.entity.Customer</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.Address</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.Product</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.LineItem</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.Order</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.Document</class>
        <class>com.roadtocubaandbeyond.ordermanagement.entity.ProductCategory</class>
    </persistence-unit>
</persistence>
